
 .w3-container {
  max-width:1200px;
  margin-top:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  overflow: hidden;
  height: 360px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
}
 .card-product-selected {
  height: 360px;
}
.card-product img {
  height: 100%;
  width: 360px;
  object-fit: cover;
}
.card-product-selected h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-product-infos {
  padding: 16px;
}

.playdate {
  height: 100%;
}
.pet-images {
  // width: 50%;
  display: flex;
  padding: 16px;
}

.pet-images img {
  width:120px;
  border-radius: 5px;
}

.card-product-infos-selected ul {
  padding: 0px;
  list-style-type: none;
  text-align: left;
}
