<div class="w3-top">
  <div class="w3-white w3-xlarge" id="navbar">
    <div id="open-nav" class="w3-button w3-padding-16 w3-left">☰</div>
    <% if user_signed_in? %>
      <div class="w3-right w3-padding-16 btn btn-ghost"><%= link_to "Logout", destroy_user_session_path, method: :delete  %></div>
    <% else %>
      <div class="w3-right w3-padding-16 btn btn-ghost"><%= link_to "Sign in", new_user_session_path  %></div>
      <div class="w3-right w3-padding-16 btn btn-flat"><%= link_to "Sign up", new_user_registration_path  %></div>
    <% end %>
    <div class="navbar-home-link w3-center w3-padding-16"><a href="/"><img class="avatar" src="https://pbs.twimg.com/media/E1LO66SVoAEPWO4?format=png&name=medium" alt="playpen-logo"></a></div>
  </div>
</div>
