<div class="container">
<div class="scrollHalf">

  <div class="scrollHalf__grupo" data-scroll>
    <div class="scrollHalf__grupo__imagen">
      <img src="<%= asset_path 'goldie3.jpg' %>" class="blogimage">
    </div>
    <div class="scrollHalf__grupo__contenido">
      <h1>Best twigs for your doggo</h1>
      <h3>Author: Aiden Ang</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam atque, natus fugiat. Autem, error unde! Deleniti ipsam consequatur tenetur a, ex quia. Sint corrupti maxime blanditiis deleniti perspiciatis sequi veritatis.</p>
    </div>
  </div>
  </div>

</div>
</div>
