<html>
<head>
  <title>Playpen</title>
  <meta charset="UTF-8">

</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="container">
    <div class="cards" id="pets">
      <% @pets.each do |pet| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(pet.photo.key) %>)">
          <%= link_to pet.name, pet_path(pet) %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>About</h3>
      <p>Playpen is a site for pets to meet other like-minded pets.</p>
    </div>

    <div class="w3-third">
      <h3>Blog posts</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="https://www.w3schools.com/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Opposites attract</span><br>
          <span>How to get a dog and cat to be friends</span>
        </li>
        <li class="w3-padding-16">
          <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Best twigs for the park</span><br>
          <span>Love your dog the way they love you</span>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-serif">
      <h3>Popular tags</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Doggo</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chopper</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Jamie</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Breed</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Doggo friends</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Doggo food</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Seer</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span>
      </p>
    </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
